.footer__main-logo {
    width: 69px;
}

.footer__main-title {
    color: var(--light-title-color);
}

.footer__menu-item,
.footer__bottom-link {
    color: var(--link-color);
    text-decoration: none;
}

.footer__main-text,
.footer__bottom-copyright {
    color: var(--footer-text-color);
}

.footer__main {
    background-color: var(--footer-background-color);
}

.footer__bottom {
    background-color: var(--footer-bottom-background-color);
}