@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans&display=swap'); /* Marcellus, Open Sans*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    --title-color: #1e2d4b;
    --dark-title-color: #151f36;
    --light-title-color: #ffffff;
    --light-link-color: #ffffff;
    --light-background-color: #ffffff;
    --pricing-item-background-color: #ffffff;
    --footer-background-color: #2f3547;
    --dark-link-color: #2f3547;
    --dark-list-color: #2f3547; 
    --subtitle-color: #727682; 
    --light-list-color: #727682;
    --transform-text-color: #727682; 
    --dark-subtitle-color: #2f3547b5;
    --light-text-color: #ffffffc7;
    --dark-text-color: #151f3685;
    --text-color: #868b9b;
    --additional-text-color: #6e7486;
    --annotattion-color: #5995c5;
    --link-color: #5995c5;
    --about-us-list-line-color: #5995c5;
    --passes-color: #5995c5;
    --pricing-annotation-color: #e3c39c;
    --price-and-membership-color: #e3c39c;
    --join-us-annotation-color: #cbd0b0;
    --join-and-online-color: #cbd0b0;
    --classes-level-color: #2f35475e;
    --pricing-background-color: #fceedd;
    --line-stretch-progress-color: #fceedd;
    --transform-background-color: #dceafd;
    --about-list-decoration-color: #dceafd;
    --join-list-decoration-color: #cbd0b0;
    --line-color: #dceafd;
    --header-color: #2f3547b3;
    --footer-text-color: #ffffff99;
    --footer-bottom-background-color: #292e3f;
    --join-background-color: #f3f5e9;
    --meditate-line-color: #dceadf;
    --transform-border-color: #f8f8f8;
    --special-offer-background: #e6e5e4;
    --teacher-background-color: #f8f8f8;
    --news-line-color: #f8f8f8;
    --testimonials-button-background-color: #151f36;
    --testimonials-button-hover-background-color: #000000;
    --testimonials-button-color: #8eb7d8;
    --testimonials-button-hover-color: #5474ab;
    --header-hover-color: #1e2d4b;
    --header-burger-color: #1e2d4b;
}

img {
    display: block;
    width: 100%;
}

h1, h2 {
    font-family: 'Marcellus', serif;
    color: var(--title-color);
    font-weight: 400;
}

iframe {
    display: block;
    width: 100%;
}

hr {
    border: 0;
    width: 55px;
    height: 3px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
}

.annotation {
    font-size: 11px;
    color: var(--annotattion-color);
    font-weight: 700;
    letter-spacing: 2.2px;
}

.subtitle {
    font-weight: 500;
}

.fixed {
    width: 100%;
    position: fixed;
}

@media (min-width: 768px) {
    .container {
        padding: 0 32px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 40px;
    }
}