.join-us {
    background-color: var(--join-background-color);
}

.join-us__content-annotation {
    color: var(--join-us-annotation-color);
    font-size: 11px;
}

.join-us__content-title {
    font-size: 30px;
}

.join-us__content-subtitle {
    font-size: 18px;
    color: var(--subtitle-color);
}

.join-us__content-text {
    color: var(--text-color);
}

.content-list__item-image {
    width: 20px;
}

.content-list__item {
    color: var(--light-list-color);
}

.join-us__content-link {
    color: var(--dark-link-color);
    border: 1px solid;
    border-bottom: var(--dark-link-color);
    text-decoration: none;
}