.testimonials {
    padding: 90px 0;
    text-align: center;
}

.testimonials__main-annotation,
.testimonials__carousel-date {
    font-size: 11px;
    color: var(--annotattion-color);
}

.testimonials__main-title {
    font-size: 30px;
    padding: 20px 0 25px;
}

.testimonials__main-subtitle {
    font-size: 18px;
    color: var(--subtitle-color);
}

.testimonials__content {
    padding-top: 45px;
}

.testimonials__carousel-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    max-width: 770px;
    margin: auto;
}

.testimonials__carousel-photo {
    width: 70px;
    border-radius: 50%;
}

.testimonials__carousel-client-name {
    font-size: 22px;
    color: var(--dark-title-color);
    padding: 20px 0;
}

.testimonials__carousel-comment {
    color: var(--text-color);
}

.testimonials__carousel-date {
    padding: 20px 0;
    font-weight: 700;
    letter-spacing: 2.2px;
}

.testimonials__button {
    opacity: 1;
}

.testimonials__carousel-button {
    border-radius: 50%;
    background-color: var(--testimonials-button-background-color);
    color: var(--testimonials-button-color);
    height: 25px;
    width: 25px;
    padding: 5px;
}

.testimonials__carousel-button:hover {
    background-color: var(--testimonials-button-hover-background-color);
    color: var(--testimonials-button-hover-color);
}

@media (min-width: 768px) {
    .testimonials__carousel-photo {
        width: 120px;
    }

    .testimonials__carousel-button {
        height: 32px;
        width: 32px;
    }
}

@media (min-width: 1199px) {
    .testimonials__carousel-button {
        background-color: transparent;
    }
    
    .testimonials__carousel-button:hover {
        background-color: transparent;
    }
}