.about-us {
    padding: 60px 0 90px;
}

.about-header__annotation {
    color: var(--annotattion-color);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2.2px;
}

.about-header__title {
    font-size: 30px;
    padding: 20px 0 50px;
}

.about-us__main-text,
.about-us__content-text {
    color: var(--text-color);
}

.about-us__content-title {
    font-size: 18px;
    color: var(--title-color);
    padding-top: 45px;
    font-weight: 500;
    color: var(--subtitle-color);
}

.about-us__content-text {
    padding-top: 25px;
}

.about-us__content-list {
    padding-top: 60px;
    color: var(--text-color);
}

.about-us__list-items {
    list-style: none;
}

.about-us__list-title {
    color: var(--dark-list-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
}

.about-us__list-line {
    background-color: var(--about-us-list-line-color);
    margin: 15px 0;
    width: 20%;
}

.list-item-decoration {
    color: var(--about-list-decoration-color);
}

@media (min-width: 768px) {
    .about-us {
        padding-bottom: 105px;
    }

    .about-us__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .about-header__title {
        font-size: 34px;
        padding: 20px 0 0;
    }

    .about-us__main-text {
        display: flex;
        align-items: flex-end;
    }

    .about-us__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .about-us__content-lists {
        display: flex;
        gap: 60px;
    }
}