.yoga-is-answer__content {
    border: 2px solid;
    border-color: var(--transform-border-color);
}

.yoga-is-answer__content-title {
    font-size: 22px;
    color: var(--light-title-and-link-color);
}

.yoga-is-answer__content-text {
    color: var(--light-text-color);
}