.special-offer {
    background-color: var(--special-offer-background);
}

.special-offer__annotation {
    font-size: 11px;
    color: var(--annotattion-color);
}

.special-offer__title {
    font-size: 46px;
}

.special-offer__subtitle {
    font-size: 18px;
    color: var(--subtitle-color);
}

.special-offer__text {
    color: var(--additional-text-color);
}

.special-offer__link {
    font-size: 12px;
    text-decoration: none;
}

.link-start {
    color: var(--light-link-color);
    background-color: var(--link-color);
}

.link-more {
    color: var(--dark-link-color);
    border: 1px solid;
    border-color: var(--dark-link-color);
}