.transform-yourself__container {
    background-color: var(--transform-background-color);
}

.transform-yourself__container-image {
    width: 50px;
}

.transform-yourself__container-title {
    font-size: 28px;
}

.transform-yourself__container-text {
    font-size: 18px;
    color: var(--transform-text-color);
}

.transform-yourself__container-link {
    font-size: 12px;
    text-decoration: none;
    color: var(--light-link-color);
    background-color: var(--link-color);
}