.news__main-annotation,
.news__item-date {
    font-size: 11px;
    color: var(--annotattion-and-light-link-color);
}

.news__main-title {
    font-size: 30px;
}

.news__main-subtitle {
    font-size: 18px;
    color: var(--subtitle-and-list-color);
}

.news__item-image {
    width: 70px;
    border-radius: 50%;
}

.news__item-title {
    font-size: 22px;
    color: var(--dark-title-color);
}

.news__item-text {
    color: var(--text-color);
}

.news__item-link {
    font-size: 11px;
    color: var(--footer-background-and-dark-link-and-list-color);
}