.beauty-and-mind {
    background-image: url(../img/backgroud/beauty-and-mind.svg);
    background-size: cover;
    min-height: 623px;
    padding-top: 60px;
}

.beauty-and-mind__content-title {
    font-size: 46px;
    padding-top: 20px;
}

.beauty-and-mind__content-text {
    font-size: 18px;
    color: var(--dark-text-color);
    padding-top: 35px;
    font-weight: 500;
}

.beauty-and-mind__content-link {
    color: var(--light-link-color);
    background-color: var(--link-color);
}

.beauty-and-mind__image {
    margin-top: 50px;
    padding-left: 20px;
}

@media (min-width: 768px) {
    .beauty-and-mind .container {
        flex-direction: row;
        align-items: center;
    }

    .beauty-and-mind__image {
        margin-top: 0;
    }
}