.about-header__annotation {
    color: var(--annotattion-color);
    font-size: 11px;
}

.about-header__title {
    font-size: 30px;
}

.about-us__main-text,
.about-us__content-text {
    color: var(--text-color);
}

.about-us__content-title {
    font-size: 18px;
    color: var(--title-color);
}

.about-us__list-title {
    color: var(--dark-list-color);
}

.about-us__list-line {
    background-color: var(--about-us-list-line-color);
}

.about-us__list-item {
    color: var(--text-color);
}

.list-item-decoration {
    color: var(--list-decoration-color);
}